/**
 * Created by Jacob Humston, Emma Rhoden, and Kayden Justice.
 * All rights reserved.
 */

@font-face {
    font-family: Nunito;
    src: url('/assets/fonts/Nunito.ttf');
}

:root {
    --primary-accent-color: #324376;
    --secondary-accent-color: #586ba4;
    --tertiary-accent-color: #fed766;
    --quaternary-accent-color: #f5dd90;
    --quinary-accent-color: #f68e5f;
    --senary-accent-color: #f76c5c;
    --background-color: rgb(240, 240, 240);
    --text-color: rgb(2, 2, 2);
}

html,
body,
button,
input,
textarea {
    font-family: Nunito, 'Arial';
}

html,
body {
    padding: 0px;
    margin: 0px;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--quinary-accent-color);
}
