/**
 * Created by Jacob Humston, Emma Rhoden, and Kayden Justice.
 * All rights reserved.
 */

#menu-bar {
    width: 100%;
    height: 50px;
    background-color: var(--highlight-text);
    color: var(--backwards-highlight-text);
}