/**
 * Created by Jacob Humston, Emma Rhoden, and Kayden Justice.
 * All rights reserved.
 */

#our-mission-header,
#our-mission-header-mobile,
#about-us-header,
#about-us-header-mobile {
    margin: 0px;
    margin-bottom: 10px;
}

#our-mission-header,
#our-mission-header-mobile {
    color: var(--quinary-accent-color);
}

#about-us-header,
#about-us-header-mobile {
    color: var(--senary-accent-color);
}

#our-mission-content,
#our-mission-content-mobile,
#about-us-content,
#about-us-content-mobile {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
    border-style: solid;
    border-width: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    background-color: rgb(247, 247, 247);
    overflow: hidden;
}

#our-mission-content,
#our-mission-content-mobile {
    border-color: var(--quinary-accent-color);
}

#about-us-content,
#about-us-content-mobile {
    border-color: var(--senary-accent-color);
}

#information-content {
    width: 95%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    justify-content: space-evenly;
    max-width: 95%;
}

#information-content #left,
#information-content #right {
    width: 40%;
    overflow: visible;
}

#information-content #left {
    overflow: visible;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}

#information-content #right img {
    border-radius: 50px;
    width: 100%;
    height: auto;
    display: inline-block;
}

#our-mission-content p,
#about-us-content p {
    font-size: large;
}

#information-content-mobile {
    display: none;
}

@media screen and (width < 1100px) {
    #information-content {
        display: none;
    }

    #information-content-mobile {
        display: block;
    }
}

@media screen and (width < 700px) {

    #our-mission-content-mobile,
    #about-us-content-mobile {
        max-width: 100%;
        width: 100%;
        border-radius: 0px;
        border-left: none;
        border-right: none;
    }

    #our-mission-content-mobile p,
    #about-us-content-mobile p {
        padding: 10px;
        padding-right: 25px;
    }
}