/**
 * Created by Jacob Humston, Emma Rhoden, and Kayden Justice.
 * All rights reserved.
 */

#menu-bar {
    width: 100%;
    overflow: hidden;
    background-color: var(--primary-accent-color);
    color: var(--tertiary-accent-color);
    padding: 5px;
    transition: all 0.5s;
}

#menu-bar p,
#menu-bar button,
#menu-bar img {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
}

#menu-bar p {
    font-size: x-large;
    margin-right: 10px;
    vertical-align: middle;
}

#menu-bar button {
    border: none;
    background-color: var(--secondary-accent-color);
    font-size: large;
    color: var(--quaternary-accent-color);
    padding: 5px;
    margin-left: 10px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    transition: all 0.5s;
}

#menu-bar button:hover {
    cursor: pointer;
    transform: scale(1.08);
}

#menu-bar img {
    height: 65px;
    width: auto;
    margin-left: 10px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
}

#menu-bar br[data-break='first'],
#menu-bar br[data-break='second'],
#menu-bar br[data-break='third'] {
    display: none;
}

#menu-bar button a {
    color: inherit;
    text-decoration: none;
}

@media screen and (width < 1180px) {
    #menu-bar br[data-break='first'] {
        display: block;
    }

    #menu-bar button {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (width < 810px) {
    #menu-bar br[data-break='second'] {
        display: block;
    }
}

@media screen and (width < 810px) {
    #menu-bar br[data-break='second'] {
        display: block;
    }
}

@media screen and (width < 540px) {
    #menu-bar br[data-break='third'] {
        display: block;
    }
}
